<mat-card class="mt-3 card2">
    <h1>
        <b>Fotografi <button class="ml-2" mat-raised-button color="primary" routerLink="/">Elenco Fotografie</button>
        </b></h1>
</mat-card>
<mat-card class="mt-3">

    <div *ngIf="fotografi.length>0">
        <div *ngFor="let fotografo of fotografi">
            <mat-icon aria-hidden="false" class="freccetta">keyboard_arrow_right</mat-icon>
            <b>Id:</b> {{fotografo.id}}, <b>Nome:</b> {{fotografo.nome}}, <b>Cognome:</b> {{fotografo.cognome}}
        </div>
    </div>
</mat-card>