<h1 class="mat-display-1">
    {{text.title.registrazione}}
</h1>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-md-6 col-12">
            <mat-form-field appearance="outline">
                <mat-label>{{text.label.nome}}</mat-label>
                <input matInput formControlName="nome" [(ngModel)]="nome" name="nome">
            </mat-form-field>
        </div>
        <div class="col-md-6 col-12">
            <mat-form-field appearance="outline">
                <mat-label>{{text.label.cognome}}</mat-label>
                <input formControlName="cognome" matInput [(ngModel)]="cognome" name="cognome">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-12">
            <mat-form-field appearance="outline">
                <mat-label>{{text.label.email}}</mat-label>
                <input matInput formControlName="email" [(ngModel)]="email" name="email" email>
            </mat-form-field>
        </div>
        <div class="col-md-6 col-12">
            <mat-form-field appearance="outline">
                <mat-label>{{text.label.password}}</mat-label>
                <input formControlName="password" matInput [(ngModel)]="password" name="password"
                    [type]="hide ? 'password' : 'text'">
                <mat-icon matSuffix class="clickable" (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}
                </mat-icon>
                <mat-hint align="end">Lunghezza minima 6 caratteri</mat-hint>
                <mat-error>Inserire una password valida!</mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-12">
            <app-autocomplete [baseMap]="mapRegioni" [parentForm]="registerForm" [inputControl]="'regione'"
                [label]="text.label.regioni"></app-autocomplete>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="submit" mat-raised-button color="primary">
                {{ text.button.registrati }}
            </button>
        </div>
    </div>
</form>