<button mat-raised-button color="primary" routerLink="/comportamentale" routerLinkActive="active">
    Pannello Admin
</button>
<button mat-raised-button color="primary" routerLink="/registrazione" routerLinkActive="active">
    Carrello
</button>

<button mat-raised-button color="primary" routerLink="/fotografi" routerLinkActive="active">
    fotografi
</button>
<mat-card>
        <mat-card-content>
<div *ngIf="fotografie.length>0" class="row">
    <div *ngFor="let fotografia of fotografie" class="col-md-4 col-12">
                <img [src]="'data:image/jpg;base64,'+fotografia.img" class="elenco" />
                <div><mat-icon aria-hidden="false" aria-label="aggiungi al carrello" (click)="aggiungiCarrello(fotografia)">add_shopping_cart</mat-icon></div>
    </div>
</div>
</mat-card-content>
</mat-card>