@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~font-awesome/css/font-awesome.css";
// Imports functions, variables, and mixins that are needed by other Bootstrap files
@import "variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/grid";
@import "~bootstrap/dist/css/bootstrap-grid.min.css";
// Import Roboot
@import "~bootstrap/scss/reboot";
@import "reset";

$primary: #3f51b5;

body {
  width: 90%;
  margin: auto;
}

table.mat-table {
  max-width: 100%;
  overflow-x: scroll;
  display: block;
}

th.mat-header-cell {
  min-width: 200px;
  font-size: 13px;
}

.sup {
  position: relative;
  bottom: 1ex;
  font-size: 80%;
}

.log {
  position: relative;
  top: 1ex;
  font-size: 80%;
}

.mat-display-1 {
  color: #003366 !important;
  text-transform: uppercase;
}

mat-form-field {
  width: inherit;
}

mat-icon.clickable {
    cursor: pointer;
}

mat-icon {
    color: $primary;
    cursor: pointer;
}
.elenco{
  width:100%;
  height:auto; 
  cursor: pointer;
}
.elenco2{
  height: 50%;
  width: 50%;  
}
h2,h1,h3{
  color: #003366;
}

.elenco3{
  height: 70%;
  width: 70%;  
}
.bottone1{
  color:white;
}
.card1{
  color:lightblue;
  background-color: lightblue;
}
.card2.mat-card{
background-color:#003366;
}

.notifica{
  color:red;
  font-weight: bold;
}
.puntatore{
  cursor: pointer;
}
.fotografia{
  width:65%;
  height:auto; 
}

.anteprima{
  width:20%;
  height:auto; 
}
.anteprima2{
  width:80%;
  height:auto; 
}
.riga{
  height:1 px solid;
  color: #003366;
  
}
.riga1 {
  border: 1px solid !important;
  height:1px solid !important;
  color: #003366 !important;
}

.freccetta{
  top: 6px;
  position: relative;
}
.card2 h1{
  color:white;
  font-family: 'Courier New', Courier, monospace;
}
.mat-tab-label-content{
  font-weight: bold;
  color: #003366;
}