<mat-form-field [formGroup]="parentForm" appearance="outline" style="width: 100%">
    <mat-label>{{label}}</mat-label>
    <input type="text" matInput [(ngModel)]="value" [formControlName]="inputControl" autocomplete="doNotAutoComplete"
        [matAutocomplete]="autoGroup" (keyup)="filterAutocomplete(value)">
    <mat-autocomplete #autoGroup="matAutocomplete">
        <mat-optgroup *ngFor="let letter of listLetter" [label]="letter">
            <mat-option *ngFor="let name of mapFiltered.get(letter)" [value]="name">
                {{name}}
            </mat-option>
        </mat-optgroup>
    </mat-autocomplete>
</mat-form-field>